<a href="https://colab.research.google.com/github/urchbee/Assignment-on-Dictionaries-and-Conditionals-/blob/main/Dictionaries_%26_Conditionals_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment On Dictionary and Conditionals

This notebook contains the codes and outputs for the questions listed below. Tools used include conditional statements(if,elif,else) and dictionaries.

## 1.

A triangle can be classified based on the lengths of its sides as equilateral, isosceles or
scalene. All three sides of an equilateral triangle have the same length. An isosceles
triangle has two sides that are the same length, and a third side that is a different
length. If all of the sides have different lengths then the triangle is scalene.
Write a program that reads the lengths of the three sides of a triangle from the
user. Then display a message that states the triangleâ€™s type.

In [2]:
print("Input the lengths of traingle: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
  print("Equilateral Triangle")
elif x == y or y == z or z == x:
  print("Isosceles Triangle")
elif x != y and y != z and z != y:
  print("Scalene Triangle")

Input the lengths of traingle:
x: 2
y: 3
z: 2
Isosceles Triangle

## 2.

Create a dictionary, then write a code to check whether a given key already exists in the dictionary

In [19]:
di1 = {"movies": ["Frozen", "Incredibles", "Minions"],
       "series": ["Witcher", "Vikings", "Outlander"],
       "year": [2018, 2019, 2020,]}
if "movies" in di1 :
       print("Yes, 'movies' is one of the keys in di1 dictionary")

Yes, 'movies' is one of the keys in di1 dictionary

## 3.

Create a dictionary, then write a Python program to remove a key from the dictionary.

In [8]:
di1 = {"movies": ["Notebook", "Incredibles", "Minions"],
       "series": ["Witcher", "Vikings", "Outlander"],
       "year": [2018, 2019, 2020,]}
di1.pop("year")
print(di1)

{'movies': ['Notebook', 'Incredibles', 'Minions'], 'series': ['Witcher', 'Vikings', 'Outlander']}

## 4.

Create a dictionary that contains Name, Location, Gender, Age as keys, then write a code that changes "Location" to "City".

In [9]:
di = {"name": "Sandra", 
              "location": "Canada", 
              "gender": "F", 
              "age": "31"}
di1 = "city"
di[di1] = di.pop("location")
print(di)

{'name': 'Sandra', 'gender': 'F', 'age': '31', 'city': 'Canada'}

## 5.

details = {
     'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22},
     'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25},
     'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}
}

Write a code that changes Tosin's salary to 9000

In [21]:
details = { 'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 
           'person2': {'name': 'Tosin', 'salary': 8000, 'age': 25}, 
           'person3': {'name': 'Promise', 'salary': 6500, 'age': 28} }
details['person2']['salary'] = 9000
print(details)

{'person1': {'name': 'Chioma', 'salary': 7500, 'age': 22}, 'person2': {'name': 'Tosin', 'salary': 9000, 'age': 25}, 'person3': {'name': 'Promise', 'salary': 6500, 'age': 28}}

## 6.

A month can last between 28 to 31 days. Write a code that reads the name of a month as a string from the user. The number of days in that month should then be shown by your output. Display "28 or 29 days" for February to account for leap years.

In [3]:
month1 = 'January'
month2 = 'February'
month3 = 'March'
month4 = 'April'
month5 = 'May'
month6 = 'June'
month7 = 'July'
month8 = 'August'
month9 = 'September'
month10 = 'October'
month11 = 'November'
month12 = 'December'

In [4]:
month = str(input("Enter the month: "))

if month == month1:
  print("31 days")
if month == month2:
  print("28 or 29 days")
if month == month3:
  print("31 days")
if month == month4:
  print("30 days")
if month == month5:
  print("31 days")
if month == month6:
  print("30 days")
if month == month7:
  print("31 days")
if month == month8:
  print("31 days")
if month == month9:
  print("30 days")
if month == month10:
  print("31 days")
if month == month11:
  print("30 days")
if month == month12:
  print("31 days")

Enter the month: February
28 or 29 days

## 7.

Write an if statement that asks for the user's name via input() function. If the name is "James" make it print "Welcome on board, James." Otherwise make it print an appropriate error message of your choice. 

Make sure you use the string formatting method.

In [12]:
name = input("Enter your name: ")

if name == "James":
  print("Welcome on board, {}.".format(name))
else:
  print("Name incorrect, please exit.".format(name))

Enter your name: James
Welcome on board, James.

## 8. 

Write a code that prompts the user to input a number, and then returns "True" if number is divisible by 3, and "False" if otherwise.

In [3]:
number = int(input("Enter number: "))
if number % 3 == 0 :
  print("True".format(number))
else:
  print("False".format(number))

Enter number: 32
False

## 9.

A school has following rules for grading system:
- Below 40 - F
- 41 to 44 - E
- 45 to 49 - D
- 50 to 59 - C
- 60 to 69 - B
- 70 and above - A

Write a code that asks the user to enter his mark and then prints out the corresponding grade.

In [1]:
grade = int(input("Enter your grade: "))
if grade >= 0 and grade <= 40:
    print('F')
if grade >= 41 and grade <= 44:
    print('E')
if grade >= 45 and grade <= 49:
    print('D')
if grade >= 50 and grade <= 59:
    print('C')
if grade >= 60 and grade <= 69:
    print('B')
if grade >= 70 and grade <= 100:
    print('A')

Enter your grade: 50
C

## 10. 

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Write a code that asks the user to input their salary and years of service and then prints the net bonus amount.

Use string format method

In [7]:
grade = 5
bonus1 = int(input("Enter your salary: "))
years = int(input("Enter your years of service: "))
rate = 0.05
amount = rate * bonus1 
if years >= grade :
  print("Salary of ${} amounts to ${} bonus." .format(bonus1, amount))
elif years < grade :
  print("You are not eligible for bonus at this time")

Enter your salary: 50000
Enter your years of service: 5
Salary of $50000 amounts to $2500.0 bonus.